<% if current_user %>

  <% if current_user.has_role? :admin, :any %>
    <li>
      <%= link_to t('layouts.header.administration'), admin_root_path %>
    </li>
  <% end %>

  <% if (current_user.has_role? :manager, :any) %>
    <li>
      <%= link_to t('layouts.header.manager'), supervisor_root_path %>
    </li>
  <% end %>

  <li>
    <%= link_to  session_path, method: :DELETE do %>
        <span class="icon-power-off"></span>
        <%= t('application.close') %>
    <% end %>
  </li>

<% end %>
