<div class="row">
  <div class="medium-10 medium-offset-2 column">
    <ul>
      <% if current_user %>
        <li>
          <%= link_to t("subnavigation_menu.entry_indicators"), user_access_index_path, class: ("active" if controller_name == "user_access") , accesskey: "e" %>
        </li>
        <li>
          <%= link_to t("subnavigation_menu.documentation"), docs_path, class: ("active" if controller_name == "docs"), accesskey: "d" %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
