<div class="row">
  <div class="medium-10 medium-offset-2 column">
    <ul>
      <% if true # current_user %>
          <li>
            <%= link_to t("shared.subnavigation_menu.proposal"), proposals_path, class: ("active" if controller_name == "user_access") , accesskey: "e" %>
          </li>
          <li>
            <%= link_to t("shared.subnavigation_menu.admin"), rails_admin_path, class: ("active" if controller_name == "docs"), accesskey: "d" %>
          </li>
      <% end %>
    </ul>
  </div>
</div>