staging:
  deploy_to: "/var/www/sicia"
  ssh_port: 21
  server: staging.sicia.server.es
  user: xxxxx
  full_app_name: sicia
  server_name: staging.sicia.server.es
  db_server: postgre.sicia.server.es

preproduction:
  deploy_to: "/var/www/sicia"
  ssh_port: 2222
  server1: xxx.xxx.xxx.xxx
  server2: xxx.xxx.xxx.xxx
  user: xxxxx
  full_app_name: sicia
  db_server: xxx.xxx.xxx.xxx

production:
  deploy_to: "/var/www/sicia"
  ssh_port: 2222
  server: xxx.xxx.xxx.xxx
  user: xxxxx
  full_app_name: sicia

