<div clas="row" >
  <div class="small-12 columns" >
    <h1>Alta de propuesta</h1>
    <p>Selección de propuesta a tratar</p>
    <p>Si es una propuesta SAP indique el número de expediente SAP, en caso contrario dejelo en blanco</p>
  </div>
  <div class="small-12 columns" >
    <div class="small-2 columns" >
      <%= form_tag({action: "new"}, method: "get" ) do %>
          <%= label_tag(:sap_proposal, t('model.proposal.sap_proposal'))  %>
          <%= text_field_tag(:sap_proposal)%>
          <%= submit_tag(t('action.new', model: t('model.proposal.one')), class:"buttom") %>
      <% end %>
    </div>
  </div>
</div>



