<div class="row" >
  <div class="text-center small-12 columns  select-proposal" >
    <h1>Alta de propuesta</h1    >
    <br><p> <small>(Si vas a crear una propuesta SAP indica el número de expediente SAP, en caso contrario dejalo en blanco)</small></p>
    <div class="small-12 small-centered medium-5 centered columns">
      <fieldset class="fieldset">
        <legend>Selecciona la propuesta</legend>
        <%= form_tag({action: "new"}, method: "get" ) do %>
            <%= label_tag(:sap_proposal, t('activerecord.attributes.proposal.sap_proposal'))  %>
            <%= text_field_tag(:sap_proposal)%>
            <%= submit_tag t('actions.search', resource: t('activerecord.models.proposal.one').downcase), class:"hollow  button" %>
        <% end %>
      </fieldset>
    </div>
   </div>
</div>

