//
// 0. General
// 1. Proposals
//

// 0. General
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: rem-calc(20);
}

footer {
  margin-bottom: 0px;
  bottom: 0px;
  width:100%;
  height: rem-calc(20);
}

.footer {
  min-height: rem-calc(1);
 }

// 1. Proposals

.proposal .medium-3 {
  width: 30%;
}

.proposal legend {
  padding-top: rem-calc(12);;
  font-size: rem-calc(20);
  font-weight: bold;
}

.button {
 margin-top: rem-calc(20);
}